.characters-container {
  padding: 30px;
}

.character-image {
  border-radius: 10px;
  box-shadow: 0px 0px 11px 3px black;
}

.search-container {
  margin-bottom: 20px;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
}

body {
  background-color: #180202;
}

.limit-item {
  padding: 5px;
}

.homeContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
}






