<section ng-controller="HomeController as ctrl">
  <div class="homeContainer">
    <div class="personagem"></div>
    <div class="filmes"></div>
    <div class="conecte-se"></div> 
   </div>

 <div>
  <nav>
    <ul>
      <li><a href="personagem.html">Personagem</a></li>
      <li><a href="filmes.html">Filmes</a></li>
      <li><a href="conecte-se.html">Conecte-se</a></li>
    </ul>
  </nav>

 </div>

</section>


 <section ng-controller="HomeController as ctrl">
  <div class="container-fluid characters-container">
    
    <div class="row search-container">
      <form name="search">
        <div class="col-md-4">
          <div class="input-group">
            <input class="form-control"
              ng-model="ctrl.searchName"
              type="text"
              placeholder="Search character...">
            <span class="input-group-btn">
              <button class="btn btn-primary"
                ng-click="ctrl.search()"
                type="button">
                Go!
              </button>
            </span>
          </div>
        </div>
      </form>
      <div class="col-md-4">
         Single button
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Limite ({{ctrl.limit}})
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-click="ctrl.switchLimit(limit)"
              ng-repeat="limit in ctrl.limits">
              <span class="limit-item">{{limit}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2"
        ng-repeat="character in ctrl.characters">
        <list-character-item character="character"
          see-details="ctrl.seeDetails(character)"></list-character-item>
      </div>
      <div class="col-md-12"
        ng-if="ctrl.characters.length <= ctrl.totalItems">
        <button class="btn btn-primary"
          ng-click="ctrl.seeMore()">
          Ver mais
        </button>
      </div>
    </div>
  </div>

</section>
 